body {
    background-image: url(images/background1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;    
}

p, #Score {
    text-align: center;
    font-style: italic;
    color: black;
    font-size: larger;
    font-weight: bold;
}
img{
    width: 64px;
    height: 64px;
}
.autos1{
    display: flex;
    justify-content: left;
    image-rendering: pixelated;
}

#ORDI:active {
    transform: scale(1.2);
    transition: transform 0.0001s;
}
.PC {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px; 

}
.eau{
    display: flex;
    justify-content: left;
   
}

h1 {
    color: #67c5c5;
    display: flex;
    justify-content: center; 
    align-items: center;
}
